*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 5px;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: drop 3s ease-out infinite;
}
@keyframes drop {
    from{
        border: 10px solid red;
    }
    to{
        width: 40vw;
        border: 0px solid transparent;
    }
}